<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<!--Import Google Icon Font-->
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <!--Import materialize.css-->
	    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link href="../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" />
		<title> Eventos App</title>
	</head>
	<body>
		<!-- Cabeçalho -->
		<div id="header">
			<div id="nome">
			Ola, <span th:text="${nome}">>NÃO AUTENTICADO</span>
			</div>
			<a href="AreaDoUsuario">
				<div id="area">
					<i class="material-icons" right="2px">person</i> Área do usuário
				</div>
			</a>
			<center>
				<a href="/">
					<h1><img src="../static/images/event-icon.png" width="7%" th:src="@{/images/event-icon.png}"/></h1>
				</a>
			</center>
		</div>
		<!-- /Cabeçalho -->

		<!-- Sessões -->
		<br><br>
		<center>
	  			<div id="bloco">
	  				<a href="/eventos">
						<h1><i class="medium material-icons" right="2px">apps</i><br>Eventos</h1>
					</a>
				</div>
				<br><br>
		      	<div id="bloco">
		      		<a href="/MeusEventos">
						<h1><i class="medium material-icons" right="2px">date_range</i><br>Meus Eventos</h1>
					</a>				
				</div>
				<br><br>
				<div id="bloco" sec:authorize="hasRole('ROLE_ADMIN')">
		      		<a href="/CriarEvento">
						<h1><i class="medium material-icons" right="2px">add_box</i><br>Criar Evento</h1>
					</a>				
				</div>
		<center>
		<!-- /Sessões -->


		<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="js/materialize.min.js"></script>

	</body>
</html>